body {
  max-height: 100%;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Movies {
  display: flex;
  flex-wrap: nowrap;
  max-width: 90%;
}

.Movie {
  margin: 1em;
  max-width: 10em;
  border-radius: 1.5em;
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  position: relative;
  left: 0;
  top: 0.25em;
}
