.items {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0.5rem;
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  object-fit: contain;
  width: 100%;
  max-height: 16rem;
  margin-right: 10px;
  transition: transform 500ms;
  border-radius: 15% 15% 15% 15%;
}

.items .item:focus,
.items .item:hover {
  transform: scale(1.08);
  z-index: 1;
}

.item:hover ~ .movie {
  transform: translateX(25%);
}
