body {
  background-color: #903749;
}

* {
  margin: 0;
}

h2 {
  font-size: 1.5em;
  color: #ffe3dc;
}

.items {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0.8rem;
}

.items::-webkit-scrollbar {
  display: none;
}

.item {
  object-fit: contain;
  width: 100%;
  max-height: 16rem;
  transition: transform 500ms;
  border-radius: 15% 15% 15% 15%;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
}

.items .item:focus,
.items .item:hover {
  transform: scale(1.08);
  z-index: 1;
}

.item:hover ~ .movie {
  transform: translateX(25%);
}
